/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  margin: 0;
  padding: 0;
  background: #0e0e0e;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  background-image: #0e0e0e;
}
